@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Ubuntu:wght@500;700&display=swap");






.btn-login {
  background-color: #00c194;
  border-radius: 7px;
  color: #fff;
  border: none;
  padding: 7px;
}

.btn-logout {
  background-color: #dc3545;
  border-radius: 12px;
  color: #fff;
  border: none;
  padding: 10px;
}

.btn-google {
  background-color: #dc3545;
  border-radius: 7px;
  color: #fff;
  border: none;
  padding: 7px;
}

.btn-facebook {
  background-color: #0a58ca;
  border-radius: 7px;
  color: #fff;
  border: none;
  padding: 7px;
}

.toRegister {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  margin-top: 12px;
}


/* Crud Properties Styles */

.detail-btn {
  border: none;
  background-color: #00c194;
  padding: 7px;
  border-radius: 8px;
  color: #fff;
}

.detail-modal .modal-content {
  background-color: red;
  color: #fff;
}

/* DETAIL STYLES */

.detail-txt {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-top: 15px;
  text-align: center;
  color: #000000;
}

/* EDIT STYLES */

.edit-btn {
  border: none;
  background-color: #00c194;
  padding: 7px;
  border-radius: 8px;
  color: #fff;
}

.delete-btn {
  border: none;
  background-color: #dc3545;
  padding: 7px;
  border-radius: 8px;
  color: #fff;
}

.save-btn {
  border: none;
  background-color: #0d6efd;
  padding: 7px;
  border-radius: 8px;
  color: #fff;
}

.addFile {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.modal-width {
  /* width: 10px; */
}

.select {
  border: none;
}

.icon {
  position: relative;
}

.favAmount {
  position: absolute;
  right: -60%;
  top: -55%;
  background-color: #00c194;
  color: #fff;
  border-radius: 50%;
  padding: 3px;
}

/* Carrito */

.carrito-title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 46px;
  text-align: center;
  color: #000000;
  margin-bottom: 35px;
}

.carrito-total {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}


.addCarritoBtn {
  border: none;
  padding: 13px;
  color: #fff;
  background-color: #00c194;
}



.line {
  background-color: #00c194;
  height: 5px;
}


